div {
    background: #aeaeaa73;
    width: 27vw;
    height: 30vh;
    display: block;
    margin: auto;
    margin-bottom: 72px;
    border-radius: 12px;
}

div > h4 {
    padding-left: 6%;
    padding-top: 6%;
    margin: 0;
    padding-bottom: 1%;
}

div > input {
    margin-left: 8.5%;
    height: 11.5%;
    width: 77%;
    border-radius: 4px;
    background-color: #f6f4f1;
    border: 0px;
}

#click {
    margin-inline: 10%;
    margin-block: 3%;
    width: 31%;
    height: 15%;
    border-radius: 8px;
    text-decoration: none;
    border: 0px;
    background: lawngreen;
    font-weight: bold;
}

#click:hover {
    cursor: pointer;
    background: blanchedalmond;
}

#click2, #click3 {
    margin-inline: 10%;
    margin-block: 3%;
    width: 31%;
    height: 15%;
    border-radius: 8px;
    text-decoration: none;
    border: 0px;
    background: lawngreen;
    font-weight: bold;
}

#click2:hover {
    cursor: pointer;
    background: blanchedalmond;
}

form {
    width: 27vw;
    height: 30vh;
    display: block;
    margin: auto;
    margin-bottom: 72px;
    border-radius: 12px;
    border: 0.1em solid black;
}

form > h2 {
    padding-left: 6%;
    padding-top: 6%;
    margin: 0;
    padding-bottom: 1%;
}

.checkBox {
    margin: 12px 10px 0px 26px;
}

/*.checkBox[]:checked+label{
    font-weight: bold;
}*/

input[type="checkbox"]:checked + label {
    font-weight: 700;
}

input[type="checkbox"]:not(:checked) + label {
    font-weight: normal;
}


.checkBox:not(:checked) + label {
    font-weight: normal;
}

.checkBox:active + label {
    color: lawngreen;
}

#click3 {
    background: dimgray;
    width: 41%;
}

#click3:hover {
    cursor: pointer;
    background: #f6f4f1;
    color: black;
    border: 0.1em solid black;
}